[Unit]
Description=Openresty - high performance web server
After=network.target remote-fs.target nss-lookup.target
[Service]
Type=forking
#PIDFile=@nginx_basedir/run/nginx.pid
ExecStartPre=@nginx_basedir/sbin/nginx -t -c @nginx_basedir/conf/nginx.conf
ExecStart=@nginx_basedir/sbin/nginx -c @nginx_basedir/conf/nginx.conf
ExecReload=@nginx_basedir/sbin/nginx -s reload
ExecStop=@nginx_basedir/sbin/nginx -s stop
PrivateTmp=true
[Install]
WantedBy=multi-user.target
