[Unit]
Description=redis-server on 6379
After=syslog.target
After=network.target
[Service]
Type=forking
PIDFile=@redis_install_dir/run/redis_@RedisPort.pid
ExecStart=@redis_install_dir/bin/redis-server @redis_install_dir/etc/redis_@RedisPort.conf
ExecStop=@redis_install_dir/bin/redis-cli -p @RedisPort -a @redispass shutdown
User=@redis_user
Group=@redis_user
LimitCORE=infinity
LimitNOFILE=65535
LimitNPROC=65535
#Place temp files in a secure directory, not /tmp
PrivateTmp=true

[Install]
WantedBy=multi-user.target
